<div class="card mb-3 ml-3 mt-3 style="width: 40rem;"">
  <div class="card-body">
<h1 class="color-form"> <%= @todo.description %> </h1>
<% if @todo.completed == true %>
  Completada
<% end %>
</div>
</div>
